body {
  font-size: 0.8em;
  color: white;
  font-family: Arial, sans-serif;
  background-color: #161616;
}

.weatherApp {
  padding: 10vh 10vw;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(2, 2, 2, 0.1);
}
.key,.value{
  padding: 20px 20px;
}
.key {
  background-color: rgba(0,0,40,0.2);
}
.weatherData{
  margin-right: 10vw;
}
.decoratorHeader{
 width: 100%;
  background-color: green;
}

.changingTempButton{
  background-color: rgba(250,250,250,0.5);
  border-radius: 2px;
  border: 1px solid transparent;
  margin-left: 0.30vw;
  color: navy;
}

button.changingTempButton:hover{
  background-color: rgba(40,40,40,1);
}
